<html lang="en-US">
  <head>
    <title>WAVESHARE ROBOT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="./libs/jquery-3.7.1.min.js"></script>
    <script src="./libs/js-yaml.min.js"></script>
    <script src="./libs/socket.io.js"></script>
    <script src="./libs/nipplejs.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <style type="text/css">
    </style>
  </head>
<body>
    <main>
        <div class="box1">
            <section class="section_video box_outline">
                <div>
                    <div class="video_feed">
                        <div>
                            <div class="feed_section feed_top" id="video_feed_frame">
                                <div>
                                    <div class="feed feed_l_t">
                                        <div id="DT" class="feed_ico feed_ico_none"></div>
                                        <div class="feed_ico feed_ico_arrow"></div>
                                        <div id="DR" class="feed_ico feed_ico_none"></div>
                                    </div>
                                    <div class="feed feed_u">
                                        <div>
                                            <p><span>CPU: </span><span id="CPU">0</span></p>
                                            <p><span>RAM: </span><span id="RAM">0</span></p>
                                        </div>
                                    </div>
                                    <div class="feed feed_r_t">
                                        <div>
                                            <div class="feed_ico_baterry"><span id="b_state" class="baterry_state baterry_state1"></span><span id="v_in">12</span><span> V</span></div>
                                            <div class="feed_ico_light"><span class="light_state"></span><span id="MODE">OFF</span></div>
                                            <p class="feed_r_t_pan"><span>RSSI: </span><span id="rssi">0</span></p>
                                            <p class="feed_r_t_pan"><span>FPS: </span><span id="fps">0</span></p>
                                            <p class="feed_r_t_pan"><span>TEMP: </span><span id="tem">0</span></p>
                                            <p class="feed_r_t_pan"><span>Zoom: </span><span id="zoom-num">1x</span></p>
                                            <p class="feed_r_t_pan"><span>Photos: </span><span id="photos-size">0</span></p>
                                            <p class="feed_r_t_pan"><span>Videos: </span><span id="videos-size">0</span></p>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="feed_section feed_middle"> 
                                <div>
                                    <div class="feed feed_l">
                                        <div class="tilt">
                                            <div id="tilt_scale_pointer" class="tilt_pointer_out">
                                                <div class="tilt_pointer"></div>
                                                <p id="Tilt">0</p>
                                            </div>
                                            <div id="tilt_scale" class="tilt_scale">
                                                <p class="slider_wrap">
                                                <span id="slider_text"></span>
                                                <input id="slider" class="vertical-slider" type="range" min="0" max="1.5708" step="0.01" value="0">
                                                <span id="slider_track" class="slider_track">
                                                    <span id="slider_fill" class="slider_fill"></span>
                                                    <span id="slider_thumb" class="slider_thumb"></span>
                                                </span>
                                                </p>
                                                <div id="tilt_scalediv"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feed feed_m"><div class="feed_img_focus"></div></div>
                                    <div class="feed feed_r"></div>
                                </div>
                            </div>
                            <div class="feed_section feed_bottom">
                                <div>
                                    <div class="feed feed_l_b">
                                        <div class="ctrl_base_box">
                                            <div class="ctrl_base ctrl_base_s" id="ctrl_base_left"> 
                                                 <div id="joystick_left" class="ctrl_stick ctrl_stick_s"></div>
                                            </div>
                                        </div>  
                                    </div>                                    
                                    <div class="feed feed_b">                                     
                                        <div class="pan">
                                            <div><p id="Pan">0</p></div>
                                            <div class="pan_scale_box">
                                                <div class="pan_pointer"></div>
                                                <div id="pan_scale" class="pan_scale"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feed feed_r_b">
                                        <div id="armControlButtons" class="video_btn_container ">
                                            <button id="arm_mode_toggle" class="video_ctl_btn ctl_btn_active" onclick="toggleArmMode()">Joint</button>
                                            <button id="press_mode_toggle" class="video_ctl_btn ctl_btn_active" onclick="togglePressMode()">Increase</button>
                                        </div>
                                        <div class="ctrl_base_box">
                                            <div class="ctrl_base ctrl_base_s" id="ctrl_base_right"> 
                                                <div id="joystick_right" class="ctrl_stick ctrl_stick_s"></div>
                                            </div>
                                        </div>  
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="video-wrapper" class="video">
                        <video id="video" autoplay muted playsinline webkit-playsinline></video>
                    </div>
                    <div id="mini-player" class="mini-player"></div>
                    <div id="message"></div>
                </div>
                <div class="video_ctrl">
                    <div class="controls_1">
                        <button id="playPause-btn" class="video_ctl_btn ctl_btn_active">
                            <img id="playPause-icon" src="./assets/img/white/pause_1.svg" alt="Pause" width="20" height="20">
                        </button>
                        <button id="audio-btn" class="video_ctl_btn ctl_btn_active">
                            <img id="audio-icon" src="./assets/img/white/volume-mute.svg" alt="volume-mute" width="20" height="20">
                        </button>
                        <button id="fullscreen-btn" class="video_ctl_btn ctl_btn_active">
                            <img id="fullscreen-icon" src="./assets/img/white/fullscreen.svg" alt="fullscreen" width="20" height="20">
                        </button>
                        <button id="pip-btn" class="video_ctl_btn ctl_btn_active">
                            <img id="pip-icon" src="./assets/img/white/pip.svg" alt="pip" width="20" height="20">
                        </button>
                    </div>
                    <div class="controls_2">
                        <div class="record"><div><button id="record-btn" class="normal_btn video_btn_record btn_ico">Record</button></div></div>
                        <div class="capture"><div><button class="normal_btn video_btn_capture" onclick="captureAndUpdate()"></button></div></div>
                        <div class="views">
                            <div><button class="normal_btn normal_btn_size video_btn_zoom btn_ico" id="zoom_btn"></button></div>
                            <div class="video_btn_px_select">
                                <button id="video_pixel_btn" class="normal_btn normal_btn_size video_btn_px">WebRTC</button>
                                <ul id="video_pixel_btn_list">
                                    <!-- <li class="normal_btn" onclick="cmdSend(max_res,2);">960P</li>
                                    <li class="normal_btn" onclick="cmdSend(mid_res,1);">480P</li>
                                    <li class="normal_btn" onclick="cmdSend(min_res,0);">240P</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="controller">
                        <div class="ctl9_middle">
                            <div class="ctl9_middle_pos">
                                <div class="ctl9_middle_pos ctl9_middle_light">
                                    <div class="ctl9_middle_pos">
                                        <div onclick="cmdSend(led_mode,head_ct);">
                                        FUNC</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ctl9 ctl9_base">
                            <ul>
                                <li class="ctl9_base_btn" data-x="1" data-z="1"></li>
                                <li class="ctl9_base_btn2" data-x="1" data-z="0"></li>
                                <li class="ctl9_base_btn" data-x="1" data-z="-1"></li>
                                <li class="ctl9_base_btn4" data-x="0" data-z="1"></li>

                                <li class="ctl9_base_btn"></li>

                                <li class="ctl9_base_btn6" data-x="0" data-z="-1"></li>
                                <li class="ctl9_base_btn" data-x="-1" data-z="1"></li>
                                <li class="ctl9_base_btn8" data-x="-1" data-z="0"></li>
                                <li class="ctl9_base_btn" data-x="-1" data-z="-1"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="audio_input">
                        <div class="audio-files">
                            <div id="audioFiles" class="audio_list">
                                <div id="audioFilesDrag" class="audio-drop">Drop audio files here!</div>
                                <!-- <ol>
                                    <li>1<span class="audioplay"></span><span>Drop audio files here.mp3</span></li>
                                </ol> -->
                            </div>
                            <div style="visibility: visible;" id="stopButton" class="pause"><div></div></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="code_input">
                        <div>
                            <textarea type="text" id="commandInput" placeholder="Enter Command"></textarea>
                            <div><button id="sendButton" class="normal_btn normal_btn_size normal_btn_w">Send</button></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section_feed_ctrl box_outline">
                <div>
                    <div class="feed_ctrl_btn">
                        <div>  
                            <h2 class="sc_title feed_ct_tt">Speed Ctrl</h2>
                            <div id="speed_ctrl_btn">
                                <div><button onclick="speedRateCtrl(min_rate);" class="ctl_btn ctl_btn_active">Slow</button></div>
                                <div><button onclick="speedRateCtrl(mid_rate);" class="ctl_btn">Middle</button></div>
                                <div><button onclick="speedRateCtrl(max_rate);" class="ctl_btn">Fast</button></div>
                            </div>
                        </div>
                        <div class="roarm_view" id="roarmView">  
                            <h2 class="sc_title feed_ct_tt">RoArm View</h2>
                                <iframe
                                    id="roarmViewerFrame"
                                    class="roarm_viewer_frame"
                                    allowfullscreen>
                                </iframe>
                        </div>
                        <div>  
                            <h2 class="sc_title feed_ct_tt">PT Steady/Ahead</h2>
                            <div id="steady_ctrl_btn">
                                <div><button onclick="steadyCtrl(0);" class="ctl_btn ctl_btn_active">OFF</button></div>
                                <div><button onclick="steadyCtrl(1);" class="ctl_btn">ON</button></div>
                                <div><button onclick="lookAhead();" class="ctl_btn">Ahead</button></div>
                            </div>
                        </div>
                        <div>  
                            <h2 class="sc_title feed_ct_tt">Simple Detection Reaction</h2>
                            <div id="d_reaction_btn">
                                <div><button onclick="cmdSend(detect_react,re_none);" class="ctl_btn ctl_btn_active">None</button></div>
                                <div><button onclick="cmdSend(detect_react,re_capt);" class="ctl_btn ctl_btn_caputure btn_ico">Capture</button></div>
                                <div><button onclick="cmdSend(detect_react,re_reco);" class="ctl_btn ctl_btn_record btn_ico">Record</button></div>
                            </div>
                        </div>                        
                        <div>  
                            <h2 class="sc_title feed_ct_tt">Simple Detection Type</h2>
                            <div id="d_type_btn">
                                <div><button onclick="cmdSend(detect_type,cv_none);" class="ctl_btn ctl_btn_active">None</button></div>
                                <div><button onclick="cmdSend(detect_type,cv_moti);" class="ctl_btn ctl_btn_mov btn_ico">Movtion</button></div>
                                <div><button onclick="cmdSend(detect_type,cv_face);" class="ctl_btn ctl_btn_faces btn_ico">Faces</button></div>
                            </div>
                        </div>
                        <div>  
                            <h2 class="sc_title feed_ct_tt">Advance CV Ctrl</h2>
                            <div id="adv_cv_ctrl_btn">
                                <div><button onclick="cmdSend(cv_movtion_mode,mc_lock);" class="ctl_btn">LOCK</button></div>
                                <div><button onclick="cmdSend(cv_movtion_mode,mc_unlo);" class="ctl_btn">UNLOCK</button></div>
                                <div><button onclick="cmdSend(detect_type,cv_auto);" class="ctl_btn">AUTODRIVE</button></div>
                            </div>
                        </div>
                        <div>  
                            <h2 class="sc_title feed_ct_tt">Advance CV Funcs</h2>
                            <div id="adv_cv_funcs_btn">
                                <div><button onclick="cmdSend(detect_type,cv_objs);" class="ctl_btn">OBJECTS</button></div>
                                <div><button onclick="cmdSend(detect_type,cv_color);" class="ctl_btn">COLOR</button></div>
                                <div><button onclick="cmdSend(detect_type,mp_hand);" class="ctl_btn">HAND GS</button></div>
                            </div>
                        </div>
                        <div>  
                            <h2 class="sc_title feed_ct_tt">MediaPipe Funcs</h2>
                            <div id="mp_funcs_btn">
                                <div><button onclick="cmdSend(detect_type,mp_face);" class="ctl_btn">MP FACE</button></div>
                                <div><button onclick="cmdSend(detect_type,mp_pose);" class="ctl_btn">MP POSE</button></div>
                            </div>
                        </div>
                        <div>  
                            <h2 class="sc_title feed_ct_tt">Head Light Ctrl</h2>
                            <div id="light_ctrl_btn">
                                <div><button onclick="cmdSend(led_mode,led_off);" class="ctl_btn ctl_btn_active">OFF</button></div>
                                <div><button onclick="cmdSend(led_mode,led_aut);" class="ctl_btn">AUTO</button></div>
                                <div><button onclick="cmdSend(led_mode,led_ton);" class="ctl_btn">ON</button></div>
                            </div>
                        </div>
                        <div>  
                            <h2 class="sc_title feed_ct_tt">Base Light Ctrl</h2>
                            <div id="base_led_ctrl_btn">
                                <div><button onclick="cmdSend(base_light,0);" class="ctl_btn">BASE OFF</button></div>
                                <div><button onclick="cmdSend(base_light,255);" class="ctl_btn">BASE ON</button></div>
                            </div>
                        </div>
                        <div class="long_btn new_page" id="open_jupyter">
                            <a target="_blank" style="color: #f5bd5f;"><span>JupyterLab</span>&nbsp;<span>&gt;</span></a>
                        </div>
                        <div class="long_btn new_page" id="open_accesspopup">
                            <a target="_blank" style="color: #f5bd5f;"><span>AccessPopup</span>&nbsp;<span>&gt;</span></a>
                        </div>                        
                    </div>
                </div>
            </section>
        </div>
        <div class="box2">
            <section>
                <div class="photo_gallery">
                    <h2 class="sc_title normal_sc_title">Photo Gallery</h2>
                    <ul id="photo-list">
                    </ul>
                    <div class="long_btn new_page">
                        <a href="./html/photo.html"><span>View Photo Gallery Page</span>&nbsp;(<span id="number-photos">0</span>)&nbsp;<span>&gt;</span></a>
                    </div>
                </div>
            </section>
            <section>
                <div class="video_files">
                    <h2 class="sc_title normal_sc_title">Video Files</h2>
                    <ul class="video-list" id="video-list">
                    </ul>
                    <div class="long_btn new_page">
                        <a href="./html/video.html"><span>View Video Files Page</span>&nbsp;(<span id="number-videos">0</span>)&nbsp;<span>&gt;</span></a>
                    </div>
                </div>
            </section>
            <section id="bus_servo_setup" class="hidden">
                <div>
                    <h2 id="test" class="sc_title normal_sc_title">Bus Servos Initialization Setup</h2>
                    <div class="long_btn new_page ">
                        <a class="btn_ico ico_setting" href="./html/settings.html"><span>Setting Page</span>&nbsp;<span>&gt;</span></a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <div id="video-del-tips" class="video-del-tips"><p>Successfully deleted video</p></div>
    <footer style="visibility: hidden;">
        <div style="background-image: url('./assets/img/white/baterry.svg');"></div>
        <div style="background-image: url('./assets/img/white/capture.svg');"></div>
        <div style="background-image: url('./assets/img/white/ctrl_arrow.svg');"></div>
        <div style="background-image: url('./assets/img/white/delete.svg');"></div>
        <div style="background-image: url('./assets/img/white/faces.svg');"></div>
        <div style="background-image: url('./assets/img/white/focus.svg');"></div>
        <div style="background-image: url('./assets/img/white/fullscreen.svg');"></div>
        <div style="background-image: url('./assets/img/white/linght.svg');"></div>
        <div style="background-image: url('./assets/img/white/movtion.svg');"></div>
        <div style="background-image: url('./assets/img/white/movtion_arrow.svg');"></div>
        <div style="background-image: url('./assets/img/white/none.svg');"></div>
        <div style="background-image: url('./assets/img/white/pan_pointer.svg');"></div>
        <div style="background-image: url('./assets/img/white/pan_scale.svg');"></div>
        <div style="background-image: url('./assets/img/white/pause.svg');"></div>
        <div style="background-image: url('./assets/img/white/pause_1.svg');"></div>
        <div style="background-image: url('./assets/img/white/pip-fill.svg');"></div>
        <div style="background-image: url('./assets/img/white/pip.svg');"></div>
        <div style="background-image: url('./assets/img/white/play-fill.svg');"></div>
        <div style="background-image: url('./assets/img/white/play.svg');"></div>
        <div style="background-image: url('./assets/img/white/record.svg');"></div>
        <div style="background-image: url('./assets/img/white/setting.svg');"></div>
        <div style="background-image: url('./assets/img/white/tilt_pointer.svg');"></div>
        <div style="background-image: url('./assets/img/white/tilt_scale.svg');"></div>
        <div style="background-image: url('./assets/img/white/volume-mute.svg');"></div>
        <div style="background-image: url('./assets/img/white/volume-up.svg');"></div>
        <div style="background-image: url('./assets/img/grey/capture.svg');"></div>
        <div style="background-image: url('./assets/img/grey/ctrl_arrow.svg');"></div>
        <div style="background-image: url('./assets/img/grey/delete.svg');"></div>        
        <div style="background-image: url('./assets/img/grey/faces.svg');"></div>
        <div style="background-image: url('./assets/img/grey/movtion.svg');"></div>    
        <div style="background-image: url('./assets/img/grey/pause.svg');"></div>    
        <div style="background-image: url('./assets/img/grey/play.svg');"></div>    
        <div style="background-image: url('./assets/img/grey/record.svg');"></div>
        <div style="background-image: url('./assets/img/grey/record_stop.svg');"></div>
        <div style="background-image: url('./assets/img/grey/zoom.svg');"></div>
    </footer>
    <script type="module" src="./js/main.js"></script>
</body>
</html>
