<html lang="en-US">
  <head>
    <title>Photo Gallery</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="./jquery-3.7.1.min.js"></script>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    </style>
  </head>
<body>
    <main>
        <div class="">
            <section class="">
              <div class="photo_gallery">
                <div class="two_long_btn">
                  <div class="long_btn">
                      <a href="./"><span>&lt;&nbsp;</span>Index Page</span></a>
                  </div>
                  <div class="long_btn">
                      <a href="./video.html"><span>View Video Files Page</span>&nbsp;(<span id="number-videos">0</span>)&nbsp;<span>&gt;</span></a>
                  </div>
                </div>
                <h2 class="sc_title normal_sc_title">Photo Gallery (<span id="number-photos">0</span>)</h2>
                <ul id="photo-list">
                </ul>
              </div>
            </section>
        </div>
    </main>
</body>
<script src="./contrl.js"></script>
</html>
