<html lang="en-US">
  <head>
    <title>Bus Servos Initialization Setup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="./jquery-3.7.1.min.js"></script>
    <script src="./js-yaml.min.js"></script>
    <script src="./socket.io.js"></script>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    </style>
  </head>
<body>
    <main>
        <div class="setting box_outline">
            <section class="setting_sc">
              <p>For the first time use of this Pan-Tilt, you will need to follow these steps to config the servos' ID and middle position:</p>
              <p class="t_special"><span class="t_light t_bg_black">Tilt Servo ID: 1</span><span class="t_light t_bg_black">Pan Servo ID: 2</span></p>
              <p>The default ID of the Tilt Servo and Pan Servo is both 1 at the beginning, but the ID of the Pan Servo should be set to 2</p>
            </section>
            <section class="setting_sc setting_sc_step">
              <div>
                <div class="step_num">1</div>
                <p>Disconnect the wire of the Tilt Servo, make sure you are setting the ID of Pan Servo.</p>
              </div>
              <img src="" />
            </section>
            <section class="setting_sc setting_sc_step">
              <div>
                <div class="step_num">2</div>
                <p>Click the <span class="t_light">[Set Pan ID]</span> button to configure the current servo as Pan Servo, which will set the ID of the Pan Servo as 2.</p>
              </div>
              <img src="" />
              <div class="long_btn"><a onclick="confirmSetPanID();">Set Pan ID</a></div>
            </section>
            <section class="setting_sc setting_sc_step">
              <div>
                <div class="step_num">3</div>
                <p>Then you can connect the wire of the Tilt Servo back to the Pan-Tilt.</p>
              </div>
              <img src="" />
            </section>
            <section class="setting_sc setting_sc_step">
              <div>
                <div class="step_num">4</div>
                <p>Now we can begin to set the middle position and click the <span class="t_light">[Release]</span> button to unlock the torque lock of the two servos.</p>
              </div>
              <img src="" />
              <div class="long_btn"><a onclick="confirmRelease();">Release</a></div>
            </section>
            <section class="setting_sc setting_sc_step">
              <div>
                <div class="step_num">5</div>
                <p>As shown in the picture below, manually adjust the angle of the two servos so that the camera is pointed straight ahead.</p>
              </div>
              <img src="" />
            </section>
            <section class="setting_sc setting_sc_step">
              <div>
                <div class="step_num">6</div>
                <p>Click the <span class="t_light">[Middle Set]</span> button to set the current position as the middle position.</p>
              </div>
              <img src="" />
              <div class="long_btn"><a onclick="confirmMiddleSet();">Middle Set</a></div>
            </section>
            <section class="setting_sc setting_sc_step">
              <div>
                <div class="step_num">7</div>
                <p>Then you can begin to test the Pan-Tilt to turn to different angles. and check whether it can work normally.</p>
              </div>
              <img src="" />
            </section>
            <section class="setting_sc setting_sc_step">
              <div>
                <div class="step_num">8</div>
                <p>if the Pan-Tilt is not operating normally, you may try to redo the whole process again.</p>
              </div>
              <img src="" />
              <p>Note: If you didn't disconnect the Tilt Servo in step 1, then both servo IDs will be set to 2 after you click the <span class="t_light">[Set Pan ID]</span> button. In this case, you need to click <span class="t_light">[Set Tilt ID]</span> to restore both servo IDs to 1, then repeat the entire setup process!</p>
              <div class="long_btn"><a onclick="confirmSetTiltID();">Set Tilt ID</a></div>
            </section>
        </div>
        <div class="long_btn">
          <a href="./"><span>&lt;&nbsp;</span>Index Page</span></a>
      </div>
    </main>
</body>
<script src="./control.js"></script>
</html>
