<html lang="en-US">
  <head>
    <title>Video Files</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="./jquery-3.7.1.min.js"></script>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    </style>
  </head>
<body>
    <main>
        <div class="">
            <section class="">
              <div class="video_files">
                    <div class="two_long_btn">
                    <div class="long_btn">
                        <a href="./"><span>&lt;&nbsp;</span>Index Page</span></a>
                    </div>
                    <div class="long_btn new_page">
                        <a href="./photo.html"><span>View Photo Gallery Page</span>&nbsp;(<span id="number-photos">0</span>)&nbsp;<span>&gt;</span></a>
                    </div>
                    </div>
                  <h2 class="sc_title normal_sc_title">Video Files (<span id="number-videos">0</span>)</h2>
                  <ul class="video-list" id="video-list">
                  </ul>
              </div>
            </section>
        </div>
    </main>
    <div id="video-del-tips" class="video-del-tips"><p>Successfully deleted video</p></div>
</body>
<script src="./contrl.js"></script>
</html>
